@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FEF8CC;
    --secondary-color: #EAA848;
    --background-color: #f5f7fa;
    --text-color: #ED6F68;
    --font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

H1,h2,h3,h4,h5,h6,p, a, textarea, ul, input {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}
